
/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block; }
mark, rp, rt, ruby, summary, time{ display: inline }

/* Left & Right alignment */

.left { float:left;}
.right { float:right;}
.wrapper {width:100%; overflow:hidden;}
.relative{ position:relative;}

/* Global properties ======================================================== */

body{  background: url(../images/bg.gif) center top repeat #100f10; border:0; font:13px Arial, Helvetica, sans-serif; color:#717171; line-height:22px; min-width:520px; overflow:hidden}

.bg1{ background:#100f10}

.spinner{ position:absolute;background: url(../images/bg.gif) center top repeat #100f10; z-index:99; width:100%; height:100%; top:0; left:0}
.spinner > div{ background: url(../images/loader.gif) 50% 50% no-repeat; width:100%; height:100%;}

/* Global Structure ============================================================= */

.block {height:48px;}
.extra {min-height:100%; height:auto !important; height:100%; margin: 0 auto -48px; background:url(../images/bg_img.jpg) center center no-repeat}
.extra_fb {min-height:100%; height:auto !important; height:100%; margin: 0 auto -48px; background:url(../images/bg_img_fb.jpg)}
body, html {height:100%;}


/* ============================= main layout ====================== */

a{ color:#e54d26; text-decoration: none; outline:none}
a:hover{ color:#e54d26}

h1{ padding:0 0 4px 369px; position:relative; z-index:5}
h2{ font-size:25px; color:#26251e; line-height:1.2em; padding: 0 0 17px 0; letter-spacing:-1px;}
p{ padding-bottom:22px;}

/* ============================= header ====================== */
header{ height:30px;font-size:12px; color:#fff; text-transform:uppercase; line-height:1.2em; padding-top:16px;}

#top_nav{ float:right; padding:0 8px 0 0}
#top_nav li{ float:left; padding-right:14px; background:url(../images/top_line.gif) right 3px no-repeat; margin-right:14px;}
#top_nav a{color:#fff; overflow:hidden;}
#top_nav a:hover{ color:#717171}
#top_nav .last{ padding-right:0; margin-right:0; background:none;}

.date{ float:left; padding-left:5px;}
.date_fb{ float:left; padding-left:15px;}

#logo{ display:block; text-indent:-9999px; background:url(../images/logo.png) 0 0 no-repeat; width:394px; height:200px; margin-top:-100px; margin-left:-100px;}


#menu{ position:absolute; z-index:3; left:11px; top:80px; width:960px}
#menu > li{ float: left; width:156px; padding-right:2px; position:relative;}
#menu > li > a{ position:relative; display:block;}
#menu .bord{ height:6px; width:100%; position:absolute; background:#e54d26; top:0; left:0; display:block; z-index:2}
#menu .button{ position: absolute; top:8px; height:76px; width:100%; width:100%; display:block; background:#1e1c1c; z-index:1}
#menu .text{ position: relative; top:8px; height:76px; width:100%; font-size:16px; color:#fff; text-transform:uppercase; text-align:center; line-height:70px; width:100%; display:block; z-index:3}
.submenu_1{ position:absolute; top:84px; background:#393436; width:156px; left:0; padding:21px 0 22px;}
.submenu_1 > li{ padding-bottom:5px; line-height:35px; position:relative;}
.submenu_1 > li > a{ display:block; text-align:center; font-size:12px; color:#fff; text-transform:uppercase;}
.submenu_1 > li:hover > a{ background:#e54d26}
.submenu_2{ position:absolute; top:-21px; background:#e54d26; width:156px; left:189px; padding:21px 0 22px;}
.submenu_2 > li{ padding-bottom:5px; line-height:35px; position:relative;}
.submenu_2 > li > a{ display:block; text-align:center; font-size:12px; color:#fff; text-transform:uppercase;}
.submenu_2 > li:hover > a{ background:#393436}


.about_sc{ margin-left:-85px; height:465px; margin-top:-30px; width:500px !important;}
.bg_menu{ position:relative; margin-left:-6px; width:970px; background:url(../images/menu_shadow.png) 0 86px no-repeat; height:264px; z-index:3}
.about_title {padding-top:15px;}

#splash_menu{ position:absolute; z-index:4; left:11px; top:80px; width:960px}
#splash_menu li{ float: left; width:156px; padding-right:2px; position:relative;}
#splash_menu a{ position:relative; display:block;}
#splash_menu .bord{ height:6px; width:100%; position:absolute; background:#e54d26; top:0; left:0; display:block}
#splash_menu .button{ position: relative; top:8px; height:66px; width:100%; font-size:16px; color:#fff; text-transform:uppercase; text-align:center; line-height:50px; width:100%; display:block; background:#1e1c1c; padding-top:10px;}
#splash_menu img{ position:absolute; top:8px; height:0px; width:100%}

/* ============================= content ====================== */

#content{ height:362px; padding:20px 0 20px 0;}

#content > ul{ margin:0 7px 0 5px; position:relative; margin-top:0px; z-index:1;}
#content > ul > li{ background:#fafafa; height:576px; width:100%; padding-top:60px; position:relative;}

.line1{ background:url(../images/line_vert1.gif) 310px 0 repeat-y;}
.line2{ background:url(../images/line_vert1.gif) 630px 0 repeat-y;}



.font1{ font-size:13px; color:#333333;
 line-height:27px; text-transform:uppercase}

.pad_bot1{ padding-bottom:12px; color:#333333; }
.pad_bot2{ padding-bottom:1px;}
.pad_bot3{ padding-bottom:26px;}
.marg_right1{ margin-right:27px;}
.pad_left1{ padding-left:40px;}

.cols{ width:260px; float:left;}
.cols figure{ float:left; margin-right:8px; margin-top:7px;}
.cols .left{ width:216px; padding-bottom:4px;}
#page_contacts .cols{ width:94px;}

.color1{ color:#26251e}

.list1{}
.list1 li{ font-size:12px; line-height:25px; padding-bottom:17px;}
.list1 .last{ padding-bottom:0}
.list1 .spec a{ cursor:default; padding-left:26px; background:url(../images/level_3_ico.png) 0 3px no-repeat; text-transform:uppercase;color:#777777; display:inline-block}
.list1 .spec a:hover{ color:#777777; cursor:default;}

.ccc {color:#e54d26 !important;}
.orange {color:#e54d26 !important;}
 

.list1  a{ cursor:pointer; padding-left:26px; background:url(../images/level_3_ico.png) 0 3px no-repeat; text-transform:uppercase; color:#26251e; display:inline-block}
.list1  a:hover{cursor:pointer;  color:#e54d26}

.button1{ display:inline-block; font-size:12px; color:#fff; text-transform:uppercase; line-height:33px; position:relative; background:#393436;}
.button1:hover{ color:#fff}
.button1 span{ position: absolute; top:0; left:0; width:100%; height:100%; background:#e54d26}
.button1 strong{ position:relative; padding:0 11px;}

.img1{ float:left; margin-right:16px; margin-top:7px;}

#gallery1 { margin-top:7px;}
#gallery1 li{ padding-bottom:11px;}
#gallery1 li a{ display:block; background:#000; position:relative;} 
#gallery1 .bord{ position:absolute; top:5px; left:5px; right:5px; bottom:5px; background:#fff}
#gallery1 img{ position:relative;}

.pagination{ position:absolute; top:5px; right:-3px;}
.pagination a{ float:left; text-indent:-9999px; width:17px; height:18px; background:url(../images/buttons.gif) right 0 no-repeat; margin-left:3px}
.pagination a:hover, .pagination a.active{ background-position:0 0;}

#icon{ padding-top:7px; margin-right:-5px;}
#icon li{ float:left; padding-right:3px;}

.scroll{height:480px; width:100%; overflow:hidden}

.shuttle{ width:5px; height:55px; background:#e54d26; margin-left:-2px;}
._up-butt, ._down-butt{ height:0px !important;}



/* ============================= footer ====================== */

footer { font-size:12px; line-height:28px; height:36px; padding:12px 7px 0 5px; color:#585758; overflow:hidden;}
footer a{ color:#585758;}
footer a:hover{ color:#fff}

#icons{ float:right;}
#icons li{ float:left; padding-left:4px; font-size:16px; color:#fff; text-transform:uppercase;}
#icons .first{ padding-right:12px; font-size:12px;}

#footer_logo{ font-size:12px; color:#fff; text-transform:uppercase; display:inline-block; margin-top:1px; margin-right:5px; margin-left:30px;}
#footer_logo_fb { font-size:12px; color:#fff; text-transform:uppercase; display:inline-block; margin-top:1px; margin-right:5px; margin-left:10px;}

/* Tooltips */
.aToolTip { background:#e54d26; color:#fff;	margin:0; padding:4px 10px 3px; font-size:9px; line-height:1.2em; position: absolute; text-transform:uppercase}
.aToolTip .aToolTipContent { position:relative;	margin:0; padding:0;}


/* ============================= forms ============================= */

#ContactForm{ padding-top:7px; position:relative;}
#ContactForm .wrapper{ overflow:inherit; min-height:37px;}
#ContactForm .success{ padding:15px 30px; display:none; background:#26251e; color:#fff; top:150px; left:0; right:0; position: absolute; z-index:2}
#ContactForm label{ position:relative;min-height:31px; display: inline-block; z-index:1;}
#ContactForm .message{ height:307px;}
#ContactForm  span{ display:block}
#ContactForm .error, #ContactForm .empty{ font-size:10px; color:#26251e; line-height:14px; display:none; width:100%}
#ContactForm a{ margin-right:15px; float: left; width:63px; text-align:center}
#ContactForm .input { margin:0;width:204px; height:17px; background: none; padding:6px 12px;color:#717171; font:13px Arial, Helvetica, sans-serif;}
#ContactForm textarea { overflow: auto; margin:0;width:204px; height:258px; background: none; padding:7px 12px;color:#717171; font:13px Arial, Helvetica, sans-serif;}


#ContactForm  .bg{ background:#f2f2f2; border:1px solid #fff; border-top:1px solid #c4c4c4; border-left:1px solid #c4c4c4; float:left;}



