#wrapper{width: 520px; overflow:hidden; margin-left: auto;
    margin-right: auto;
}
#player{ margin:0px; padding:0px;  height:345px; overflow:hidden; background-color:#fff;}
#player2{ margin:0px; padding:0px; margin-top:-10px; background-color:#000;}
.alpha60 {
    background: -moz-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 99%, rgba(0,0,0,0.65) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(99%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.65)));
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%);
    background: -o-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%);
    background: -ms-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%);
}

body {
    background: url(global_bg.jpg);
    text-align: center;
    padding: 0px;
    border: 0;
    margin: 0px;
}

#wrapper {
    width: 520px;
    overflow: hidden;
}

.holder {
    position: absolute;
    margin-top: 20px;
    z-index: 101;
    width: 420px;
    margin-left: 80px;
    height: 20px;
    overflow: hidden;
}

.head-comments {
    margin-left: -53px;
    margin-top: 0px;
}

.linked {
    color: #3B5998;
    text-decoration: none;
}

.inside {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.foot {
    width: 520px;
    background-color: #fff;
}

.sharing {
    cursor: pointer;
    width: 50px;
    height: 46px;
    position: absolute;
    top: 356px;
    z-index: 90;
    left: 530px;
}

#line2 {
    cursor: pointer;
    width: 520px;
    height: 46px;
    position: absolute;
    top: 356px;
    z-index: 100;
}

#player-holder {
    margin-top: -5px;
    background-image: url('images/bg2.jpg');
    height: 340px;
    overflow: hidden;
    padding: 0px;
    width: 520px;
}

.likes {
    position: absolute;
    z-index: 101;
    margin-top: 43px;
    width: 420px;
    margin-left: 80px;
    height: 40px;
    overflow: hidden;
}

.adjustment {
    margin-left: 0px;
    margin-top: -30px;
}

.box {
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
}